<a href="https://colab.research.google.com/github/Elwing-Chou/ml0602/blob/main/cluster.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
from sklearn.datasets import load_iris
iris = load_iris()
# DataFrame: 表格. Series: 一行/一列. 
df = pd.DataFrame(iris["data"], 
                  columns=iris["feature_names"])
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [ ]:
from sklearn.cluster import KMeans
cluster = KMeans(n_clusters=3)
cluster.fit(iris["data"])

In [ ]:
cluster.cluster_centers_

In [ ]:
cluster.labels_

In [9]:
df["label"] = cluster.labels_
# save
df

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  label
0                  5.1               3.5  ...               0.2      1
1                  4.9               3.0  ...               0.2      1
2                  4.7               3.2  ...               0.2      1
3                  4.6               3.1  ...               0.2      1
4                  5.0               3.6  ...               0.2      1
..                 ...               ...  ...               ...    ...
145                6.7               3.0  ...               2.3      0
146                6.3               2.5  ...               1.9      2
147                6.5               3.0  ...               2.0      0
148                6.2               3.4  ...               2.3      0
149                5.9               3.0  ...               1.8      2

[150 rows x 5 columns]