<a href="https://colab.research.google.com/github/Elwing-Chou/ml0602/blob/main/sentiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import tensorflow as tf

dataset = tf.keras.utils.get_file(
    fname="aclImdb.tar.gz", 
    origin="http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz", 
    extract=True,
)

In [14]:
import os
import glob
dn = os.path.split(dataset)[0]
fn = os.path.join(dn, "aclImdb", "train", "pos", "*")
print(fn)
fns = glob.glob(fn)
with open(fns[0], "r", encoding="utf-8") as f:
    print(f.read())

/root/.keras/datasets/aclImdb/train/pos/*
I was told it was one of those "either you love it or you hate it" movies. Well, I loved it. Obvious hippie-era, dated and easy symbolism and all. So, I probably have no taste at all when it comes to Antonioni, but this and La Notte (made exactly a decade earlier) are my favourites among his movies so far. Made two years before I was born, Zabriskie Point was supposed to have been Michelangelo's great American epic. But apparently, it turned out to be a flop. I really can't see why. Before watching it I'd read that it was rather boring, so I braced myself for a very slow movie - though I love me a slow movie. For my taste, Zabriskie didn't have a tedious minute in it. While watching it, I made a mental note of how European it was on the director's part to make such frequent use of advertisement billboards in almost every urban scene, enormous billboards dwarfing any human form in sight. This recurrent visual element is obviously there to underline the way that consumerism crushes the individual in American society. But then I watched L'Eclisse straight afterwards, which is set in Rome in the early 60s, and noticed that Antonioni often included billboards in it as well. After all, the masterful use of landscapes, architecture and inanimate objects in each frame with or without human beings is an Antonioni trademark  this is precisely the way that he evokes his characters' psychological states, with more or less understated power and great visual impact. He is virtually unsurpassed in this skill.<br /><br />Zabriskie Point starred two very appealing leads that should have become big stars of the 70s, but never did. Mark Frechette, whom I'd already seen in Francesco Rosi's fine WWI-set movie Uomini Contro, had a very tragic life and died aged just 27. According to his biography page, he donated his $60,000 earnings from Zabriskie to a commune. Mark's co-star Daria Halprin, apparently also Dennis Hopper's wife later on, has the stunning, natural beauty and appeal of a young Ornella Muti  one of those luminous beauties that don't need a shred of make-up to turn heads. Like Frechette, she has only graced a couple of obscure movies and has never become a star, but at least she didn't die tragically. Most notably, Zabriskie Point contains one of the most original sex scenes ever filmed - one that brings home a sense of youthful playfulness like few I've seen - as well as a powerfully cathartic ending. It may be the most banal sequence ever filmed as far as its symbolism goes, but I can't see how anyone can deny its beauty and wonderful sense of emotional release. Never has an explosion looked so good, and so poetic. It seems to be an explosion that restores order rather than bringing chaos.

In [15]:
import pandas as pd
def get_data(base="train"):
    contents, target = [], []
    dn = os.path.split(dataset)[0]
    fn = os.path.join(dn, "aclImdb", base, "pos", "*.txt")
    fns = glob.glob(fn)
    for p in fns:
        with open(p, "r", encoding="utf-8") as f:
            contents.append(f.read())
            target.append(1)
    fn = os.path.join(dn, "aclImdb", base, "neg", "*.txt")
    fns = glob.glob(fn)
    for p in fns:
        with open(p, "r", encoding="utf-8") as f:
            contents.append(f.read())
            target.append(0)
    df = pd.DataFrame({
        "contents":contents,
        "ans":target
    })
    return df
train_df = get_data(base="train")
test_df = get_data(base="test")

In [21]:
# Step1. Tokenize
# 我們絕對不會使用0, 因為0是拿來做padding
from tensorflow.keras.preprocessing.text import Tokenizer
tok = Tokenizer(num_words=3000)
tok.fit_on_texts(train_df["contents"])

In [ ]:
# Step2. Sequenize
# tok.word_index
# tok.index_word[3000]
# 文章(token) -> sequence
x_train_seq = tok.texts_to_sequences(train_df["contents"])
x_test_seq = tok.texts_to_sequences(test_df["contents"])
pd.DataFrame(x_train_seq)

In [35]:
SEQ_LEN = 512

In [36]:
# Step3. Padding
from tensorflow.keras.preprocessing.sequence import pad_sequences
x_train_pad = pad_sequences(x_train_seq, maxlen=SEQ_LEN)
x_test_pad = pad_sequences(x_test_seq, maxlen=SEQ_LEN)
pd.DataFrame(x_train_pad)

       0    1    2    3    4    5    ...  506   507   508   509   510   511
0        0    0    0    0    0    0  ...   32    12   657   244    71  2338
1        0    0    0    0    0    0  ...   84   250    15     1   223   220
2        0    0    0    0    0    0  ...  199     9    32   706    20   894
3        0    0    0    0    0    0  ...    9  1478   615   243    20   285
4        0    0    0    0    0    0  ...    8     1   228     4    11    19
...    ...  ...  ...  ...  ...  ...  ...  ...   ...   ...   ...   ...   ...
24995    0    0    0    0    0    0  ...   62     2   455    16    38   673
24996    0    0    0    0    0    0  ...  715     7     7  2712  2433   434
24997    0    0    0    0    0    0  ...  108    84   853    11    17    44
24998    0    0    0    0    0    0  ...  437     2    92     1   127     9
24999    0    0    0    0    0    0  ...   15     1  1171     4    12   840

[25000 rows x 512 columns]

In [37]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, GlobalAveragePooling1D, Dense
layers = [
    # 每個詞彙都有128個係數, 3001 * 128 = 384128
    Embedding(3001, 128, mask_zero=True, input_length=SEQ_LEN),
    GlobalAveragePooling1D(),
    Dense(2, activation="softmax")
]
model = Sequential(layers)
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 512, 128)          384128
_________________________________________________________________
global_average_pooling1d (Gl (None, 128)               0
_________________________________________________________________
dense (Dense)                (None, 2)                 258
=================================================================
Total params: 384,386
Trainable params: 384,386
Non-trainable params: 0
_________________________________________________________________