<a href="https://colab.research.google.com/github/Elwing-Chou/ml0602/blob/main/transferlearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import zipfile
fn = "/content/drive/MyDrive/additional/train.zip"
zf = zipfile.ZipFile(fn)
zf.extractall()

In [ ]:
import glob
import matplotlib.pyplot as plt
from PIL import Image
fns = glob.glob("train/*")
print(len(fns))
img = Image.open(fns[0])
print(img.size)
plt.imshow(img)

In [11]:
import pandas as pd
dogf =  glob.glob("train/dog.*")
catf =  glob.glob("train/cat.*")
data = pd.DataFrame({
  "path":dogf + catf,
  "target":[0] * len(dogf) + [1] * len(catf)
})
data

                      path  target
0      train/dog.10694.jpg       0
1       train/dog.4214.jpg       0
2       train/dog.1140.jpg       0
3       train/dog.7814.jpg       0
4        train/dog.456.jpg       0
...                    ...     ...
24995   train/cat.7656.jpg       1
24996   train/cat.2840.jpg       1
24997   train/cat.9132.jpg       1
24998   train/cat.5773.jpg       1
24999  train/cat.11598.jpg       1

[25000 rows x 2 columns]